# Comments

Comments are very useful. You can use them to explain your code, to make it more readable, or to skip part of the code from being executed.

Text or code begining with a `#` is a comment, and it will be ignored and not executed.

In [ ]:
# This is a comment

In [ ]:
x = 2
# x = 3
print(x)

2

In [ ]:
x = 3 # A comment can also be placed at the end of a line
print(x)

3

If you want to comment more than one line, you need to place a `#` in front of every line. To make it faster, you can select everything you want to comment and then press `Ctrl` + `/` (on a German keyboard, it's `Ctrl` + `-`).  
Try to comment and uncomment the code in the next cell using keyboard shortcuts:

In [ ]:
print("line 1")
#print("line 2")
#print("line 3")|

line 1

# Variables

Variable is a name that is used to refer to memory location. If you assign a value to a variable, you can use it throughout your code and it will point to the place in the memory where that value is stored. We can think of variables as containers for storing values.  
In Python, a variable is created the moment you first assign a value to it. Example of assigning a value: `x = 2` - here we assign the value 2 to a variable x.

In [ ]:
x = 5 # assigning a variable
x = "Jonh" # reassigning a variable
print(x)

Jonh

Bear in mind that variable names are case-sensitive. This will create two different variables:

In [ ]:
v = 2
V = "WBS"
print(v)
print(V)

2
WBS

# Numbers and Strings

Almost everything in Python is an object. We will deal with numbers, text,  lists, dictionaries... all of these things are different types of Python objects.

The type of an object defines what can you do with it, and how will it behave. For example, you can add two numbers, and as long as they are both of the type of python number, they will behave just as in maths: you will get the sum of the two numbers.

In [ ]:
2 + 2

4

But if you try to sum two strings (string being a sequence of characters), the behaviour will be different:

In [ ]:
"2" + "2"

'22'

Any object in Python can be assigned to a variable with the `=` operator. Variables are just names for objects - they're nicknames that allow us to identify or call our objects.

In [ ]:
result = 4 + 3

At any point, we can retrieve whatever we stored in a variable by using its name:

In [ ]:
result

7

We can assign a stored value to another variable.

In [ ]:
copy_of_result = result

In [ ]:
copy_of_result

7

We can use the funtion `print()` to print out anything.

In [ ]:
# https://cs.stanford.edu/people/nick/py/python-print.html

print(result)

7

If we want to find out what type of object a variable is, we can ask it with the function `type()`, like this:

In [ ]:
# https://www.programiz.com/python-programming/methods/built-in/type

type(result)

int

##### **Exercise 1:**
Add `100` and `3.4`. Assign it to the variable `addition`. Print the type of that variable.

In [ ]:
# You've got this! Break down the problem and conquer it step by step.
addition = 100 + 3.4
print(addition)
type(addition)

103.4

float

###### **Hint**

In [ ]:
# addition __ 100 + 3.4
# print(_____(addition))

## Booleans

The values `True` and `False` are special in Python. They are called "booleans".

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

If you try to use mathematical operations with booleans, you will see how `True` equates to `1` and `False` equates to `0`.

In [ ]:
True + True

2

In [ ]:
False + False

0

## Integers

Integers are whole numbers (without fractions or decimal points) that can be positive or negative.

In [ ]:
type(-8)

int

You can use mathematical operators with integers (and floats):

- `+` Addition
- `-` Subtraction
- `*` Multiplication
- `/` Floating-point division
- `//` Truncating division
- `%` Modulo operation
- `**` Exponentiation

##### **Exercise 2:**
Assign the number corresponding to the present year to the variable `year` and your age to the variable `age`. Operate with both variables to create a new variable called `birth_year`.

In [ ]:
# Stay persistent; your code will light the way.
year = 2025
age = 28
birth_year = year - age
print(birth_year)
# but thats not true because my birthday is in March (:

1997

###### **Hint**

In [ ]:
# _____ = 2022
# age = _____
# birth_year = _____ - age

##### **Exercise 3:**
Create a variable called `price` with the value `100`. Then update its value by multiplying it by `2`.

In [ ]:
# Conquer the challenge one line of code at a time.
price = 100
price = 100 * 2
print(price)

200

###### **Hint**

In [ ]:
# price _____ 100
# price = _____ * 2

## Floats

Floats are numbers with decimals.

In [ ]:
3.

3.0

They can include the letter e for an exponent:

In [ ]:
3e2

300.0

The function `float()` can be used to convert integers into floats.

In [ ]:
float(24)

24.0

##### **Exercise 4:**
Calculate how many seconds there are in a year. Store that number in a variable called `year_seconds`.

In [ ]:
# Bugs are just detours on the road to success; keep coding!
year_seconds = 365 * 24 * 60 * 60
print(year_seconds)

31536000

###### **Hint**

In [ ]:
# year_seconds = 365 * _____ * 60 * _____

##### **Exercise 5:**
Multiply your result of year_seconds with your age, and store it in a new variable called `life_seconds`.

In [ ]:
# Celebrate each code snippet as a step toward victory.
year_seconds = 365 * 24 * 60 * 60
age = 28
life_seconds =  year_seconds * age
print(life_seconds)

883008000

###### **Hint**

In [ ]:
# life_seconds = year_seconds * _____

##### **Exercise 6:**
Calculate how many seconds you will spend in this bootcamp. Store it in a variable called `bootcamp`.

In [ ]:
# Write code with confidence; you're closer to solving the puzzle.
bootcamp = (680 * 60 * 60) + (80 * 60 * 60) #bootcamp + primer
print(bootcamp)

2736000

###### **Hint**

In [ ]:
# bootcamp = 15 * 5 * _____ * 60 *_____

##### **Exercise 7:**
Print out the percentage of your life you will spend in this bootcamp.

In [ ]:
# Coding is the language of problem-solving; you're fluent in it
print(bootcamp/life_seconds)

0.0030984996738421394
0.0030984996738421394

###### **Hint**

In [ ]:
# print( _____ / life_seconds)

## Text Strings

You will use text just as much as numbers when programming. Strings are created with either single quotes `'` or double quotes `"`:

In [ ]:
print("A string with double quotes.")

print('A string with single quotes.')

A string with double quotes.
A string with single quotes.

In [ ]:
"That's a string"
'here is a diffrent string'

'here is a diffrent string'

Having two possible quotation signs allows for having strings with quotes inside:

In [ ]:
print("The name of our school is 'WBS CODING SCHOOL', which can be abbreviated to 'WBSCS'.")

print('The name of our school is "WBS CODING SCHOOL", which can be abbreviated to "WBSCS".')

The name of our school is 'WBS CODING SCHOOL', which can be abbreviated to 'WBSCS'.
The name of our school is "WBS CODING SCHOOL", which can be abbreviated to "WBSCS".

If you need to create a multiple-line string, you can use triple quotes:

In [ ]:
poem = """Hold fast to dreams
For if dreams die
Life is a broken-winged bird
That cannot fly.
Hold fast to dreams
For when dreams go
Life is a barren field
Frozen with snow."""

print(poem)

Hold fast to dreams
For if dreams die
Life is a broken-winged bird
That cannot fly.
Hold fast to dreams
For when dreams go
Life is a barren field
Frozen with snow.

You can create a string out of another data type with `str()`:

In [ ]:
# https://www.w3schools.com/python/ref_func_str.asp

str_88 = str(88)
print(str_88)

88

In [ ]:
type(str_88)

str

Some characters in python can have a special meaning.
By using a backslash `\` preceding a character, we "escape" its usual meaning and give a special meaning to it.

For example, `\n` will add a new line, and `\t` will add a tab.

In [ ]:
print("This is the first line.\nAnd this is the second one.")

This is the first line.
And this is the second one.

In [ ]:
print("Before the tab.")
print("\tAnd after the tab.")

Before the tab.
	And after the tab.

Similarly, you can escape quotes by using `\`:

In [ ]:
fact = "The world's largest rubber duck was 54'2\" by 67'7\" by 105'."
print(fact)

The world's largest rubber duck was 54'2" by 67'7" by 105'.

If you need to use a backslash inside your string, you type `\\`: the first backslash escapes the second one.

In [ ]:
print("Please contemplate a single, one —and only one— backslash: \\.")

Please contemplate a single, one —and only one— backslash: \.

By typing `r` before the quotes, we denote a string as a _raw string_, which will ignore any special meaning:

In [ ]:
raw_str = r"This will not create a new line \n and here, we will see two backslashes \\."
print(raw_str)

This will not create a new line \n and here, we will see two backslashes \\.

You can combine strings using `+` and multiply them with `*`:

In [ ]:
print("Data" +" "+ "Science")

Data Science

In [ ]:
print("Data"*10)

DataDataDataDataDataDataDataDataDataData

Using `[]` you can grab certain characters from a string by specifying their position
- We use positive numbers to start counting from the begining of a string. The 1st letter is position `[0]`
- We use negative numbers to start counting from the end of a string. The last letter is position `[-1]`

In [ ]:
letters = "abcdefghijklmnopqrstuvwxyz"

letters[0]

'a'

In [ ]:
letters[2]

'c'

In [ ]:
letters[-1]

'z'

In [ ]:
letters [-4]

'w'

You can _slice_ a string using `[start:end]`. Note that the start is inclusive, but the end is not:

In [ ]:
letters[1:5]

'bcde'

If you don't specify the start, the slice will start at the beginning of the string. The same goes for the end.

In [ ]:
letters[:4]

'abcd'

In [ ]:
letters[4:]

'efghijklmnopqrstuvwxyz'

Counting how many characters there are in a string can be done with `len()`.

In [ ]:
# https://www.w3schools.com/python/ref_func_len.asp

len(letters)

26

In [ ]:
len("piece of string")

15

The `split` function lets you break a string into smaller strings. The split occurs every time a certain character appears in the string, such as a comma or full stop.

In [ ]:
jobs = "Data Scientist, Data Analyst, Data Engineer, Business Analyst, Marketing Analyst, Analytics Consultant"

In [ ]:
jobs

'Data Scientist, Data Analyst, Data Engineer, Business Analyst, Marketing Analyst, Analytics Consultant'

In [ ]:
# https://www.w3schools.com/python/ref_string_split.asp

jobs.split(",")

['Data Scientist',
 ' Data Analyst',
 ' Data Engineer',
 ' Business Analyst',
 ' Marketing Analyst',
 ' Analytics Consultant']

You can substitute a character using `replace()`:

In [ ]:
# https://www.w3schools.com/python/ref_string_replace.asp

jobs.replace("Data", "Duck")

'Duck Scientist, Duck Analyst, Duck Engineer, Business Analyst, Marketing Analyst, Analytics Consultant'

You can specify how many times you want to make that replacement.

In [ ]:
jobs.replace("Data", "Duck", 2)

'Duck Scientist, Duck Analyst, Data Engineer, Business Analyst, Marketing Analyst, Analytics Consultant'

A very common process in data cleaning is to remove preceding and trailing spaces from strings. The function `strip()` does exactly that.

In [ ]:
wow = "                     wow                     "
print(wow)

                     wow

In [ ]:
# https://www.w3schools.com/python/ref_string_strip.asp

wow.strip()

'wow'

There are many more string methods in Python. Browse through them here: https://www.w3schools.com/python/python_ref_string.asp

About 99.9% of the time, coding does not mean memorizing functions and knowing them by heart. Instead coding is about being quick in finding the function you need, discovering how to use them, reading the documentation, or simply adapting coding examples from the internet to meet your needs.

In the exercises below, you will have to use several Python string methods, in combination with what you have learned here. Use the link from _w3schools_ or google around to complete them.

##### **Exercise 8:**
Create a Python string with the following text, and assign it to the variable `data_science`:

```text
Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.

Data science is related to data mining, machine learning and big data. Data science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is different from computer science and information science. Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.
````

In [ ]:
# Each challenge is a chance for your code to shine.
data_science = '''Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.

Data science is related to data mining, machine learning and big data. Data science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is different from computer science and information science. Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.'''
print(data_science)

Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.

Data science is related to data mining, machine learning and big data. Data science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is different from computer science and information science. Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.

###### **Hint**

In [ ]:
# data_science = '''_____'''

##### **Exercise 9:**
How many characters are there in `data_science`?

In [ ]:
# Show your skills!
len(data_science)

1042

###### **Hint**

In [ ]:
# _____(data_science)

##### **Exercise 10:**
Convert all of the `data_science` characters to lower case and save it to a variable called `data_science_lower`.

In [ ]:
# You've got this!
data_science_lower = data_science.lower()
print(data_science_lower)

data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.

data science is related to data mining, machine learning and big data. data science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data. it uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. however, data science is different from computer science and information science. turing award winner jim gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.

###### **Hint**

In [ ]:
# https://www.w3schools.com/python/ref_string_lower.asp

# _____ = data_science._____()

##### **Exercise 11:**
How many times does the word "data" appear in the string you converted to lower case?

In [ ]:
# Don't be afraid to be wrong!
data_science_lower.count("data")

13

###### **Hint**

In [ ]:
# https://www.w3schools.com/python/ref_string_count.asp

# data_science_lower._____("data")

##### **Exercise 12:**
Split the string into sentences whenever there is a fullstop (`.`).

In [ ]:
# Stay curious and keep coding
data_science_lower.split(". ")

['data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.\n\ndata science is related to data mining, machine learning and big data',
 'data science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data',
 'it uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge',
 'however, data science is different from computer science and information science',
 'turing award winner jim gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.']

###### **Hint**

In [ ]:
# https://www.w3schools.com/python/ref_string_split.asp
# https://www.w3schools.com/python/ref_string_rsplit.asp

# data_science._____(". ")

##### **Exercise 13:**
Capitalise the first letter of every word in the string and save it to the variable `data_science_capital`.

In [ ]:
# You're on the right track; keep coding and stay determined.
data_science_capital = data_science_lower.title()
print(data_science_capital)

Data Science Is An Interdisciplinary Field That Uses Scientific Methods, Processes, Algorithms And Systems To Extract Knowledge And Insights From Noisy, Structured And Unstructured Data, And Apply Knowledge And Actionable Insights From Data Across A Broad Range Of Application Domains.

Data Science Is Related To Data Mining, Machine Learning And Big Data. Data Science Is A "Concept To Unify Statistics, Data Analysis, Informatics, And Their Related Methods" In Order To "Understand And Analyze Actual Phenomena" With Data. It Uses Techniques And Theories Drawn From Many Fields Within The Context Of Mathematics, Statistics, Computer Science, Information Science, And Domain Knowledge. However, Data Science Is Different From Computer Science And Information Science. Turing Award Winner Jim Gray Imagined Data Science As A "Fourth Paradigm" Of Science (Empirical, Theoretical, Computational, And Now Data-Driven) And Asserted That "Everything About Science Is Changing Because Of The Impact Of Information Technology" And The Data Deluge.

###### **Hint**

In [ ]:
# https://www.w3schools.com/python/ref_string_title.asp

# data_science_capital = data._____()

##### **Exercise 14:**
Find the index of the word "Turing" in the string and save it to the variable `index`.

In [ ]:
# With every line of code, you're making progress.
index = data_science_capital.find("Turing")
index

771

###### **Hint**

In [ ]:
# https://www.w3schools.com/python/ref_string_index.asp

# index = data_science._____("_____")

##### **Exercise 15:**
In the string `data_science`, replace the name "Jim Gray" with the variable `jim`. Save the changed string in the variable `new_data_science`

In [ ]:
jim = "James Nicholas Gray"

In [ ]:
from os import replace
# It's okay to make mistakes!
new_data_science = data_science.replace("Jim Gray", "jim")
print(new_data_science)

Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.

Data science is related to data mining, machine learning and big data. Data science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is different from computer science and information science. Turing Award winner jim imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.

###### **Hint**

In [ ]:
# new_data_science = data_science._____("Jim Gray",_____)

## Formatting with f-strings

Strings can be concatenated with `+`. Sometimes, you need to [interpolate](https://en.wikipedia.org/wiki/String_interpolation) values into strings.

Say, you work for a logistics company and have a script that calculates the number of trucks that should be made ready for the next day. You want this number to be included in the sentence of an email: `"For tomorrow, we will need x trucks."` But replacing x with the number of trucks, which will vary each day.

This task is known as formatting strings. It can be confusing to learn this by just browsing the internet because there are many ways to format strings in Python: the old one (using `%`), the new one (using `{}`and `format()`) and the newest one (using `f-strings`).

We will only show you how to use f-strings, but be ready to stumble on the other ones at any time!

In [ ]:
n_trucks = 70
date = 'next week'

email = f"For {date}, we will need {n_trucks} trucks."

print(email)

For next week, we will need 70 trucks.

The curly brackets support expressions like these:

In [ ]:
place = "main garage"

email = f"For tomorrow, we will need {n_trucks+10} trucks in the {place.title()}."

print(email)

For tomorrow, we will need 80 trucks in the Main Garage.

##### **Exercise 16:**
Let's write about how the bootcamp fits into your life. Using the variables `age`,`life_seconds` and `bootcamp` defined above, use an *f-string* to write
> I am \_\_\_\_\_ years old and will spend \_\_\_\_\_% of my life taking the WBS Data Science bootcamp.

In [ ]:
# You're doing great!

f"I am {age} years old and will spend {bootcamp/life_seconds}% of my life taking the WBS Data Science bootcamp."

'I am 28 years old and will spend 0.0030984996738421394% of my life taking the WBS Data Science bootcamp.'

###### **Hint**

In [ ]:
# f'I am {_____} years old and will spend {_____}% of my life taking the WBS Data Science bootcamp:'