### Exercise 1

Ask the user for a number. If that number is less than or equal to 100, ask for a bigger number. Repeat until the user enters a number larger than 100, then print "Thank you!"

##### Plan:

*You can write you own steps here!*


ask for number
number <= 100 ---> ask for bigger number
number <= 100 --> ask for bigger number
number > 100 --> stops, print thank you

##### Answer:

In [ ]:
count = 0
while True:
  random_number = int(input("Please enter a number "))
  if random_number <= 100:
   print("Please enter a larger number ")
  else:
    print("Thank you")
    break

Please enter a number 3
Please enter a larger number
Please enter a number 66
Please enter a larger number
Please enter a number 33
Please enter a larger number
Please enter a number 200
Thank you

In [ ]:
nr = int(input("Please enter a number: "))
while True:
  if nr > 100:
    print("Thank you!")
    break
  else:
    nr= int(input("Please enter a greater number "))

##### Suggested plan:

1. Ask for user input
2. Check if input <= 100
3. If yes, ask for bigger number
4. Repeat steps 1 through 3 until no
5. Print "Thank you!"

##### Code hint

In [ ]:
# while _____:
#     number = int(input("Enter a number: "))
#     if _____ <= 100:
#         print("Please enter a larger number!")
#     else:
#         print("Thank you")
#         _____

### Exercise 2

Print the first 10 terms of the Fibonacci sequence. The first two terms are `[0, 1]`, and each subsequent term is the sum of the previous two terms.

##### Plan:

*You can write you own steps here!*




*   0 , 1, 1, 2, 3, 5, 8 , 13, 21, 34, 55
*   1
*   [0] + [1] = 1
*   [1] + [2] = 2
*   [2] + [3] = 3
*   [3] + [4] = 5

##### Answer:

In [ ]:
fibonacci = [0, 1]

while len(fibonacci) < 11:
  next_number = fibonacci[-1] + fibonacci[-2]
  fibonacci.append(next_number)
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
fibonacci = [0, 1]
while len(fibonacci) < 10:
  new_num = fibonacci[-1] + fibonacci [-2]
  fibonacci += [new_num]
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

##### Suggested plan:

1. Create a list `[0, 1]`
2. Read the last two numbers of the list
3. Add those numbers together
4. Add that sum to the list
5. Check if the list has 10 items
6. If not, repeat steps 2-5
7. Print the 10 items in the list

##### Code hint

In [ ]:
# fibonacci_list = ____

# while ____(fibonacci_list) < ____:
#     next_number = fibonacci_list[____] + fibonacci_list[____]
#     fibonacci_list._____(next_number)

# for ____ in ____:
#     print(____)

### Exercise 3

Ask the user to enter numbers. Once they enter 0, print the sum of all the entered numbers.

##### Plan:

*You can write you own steps here!*


- input enter number 1
- if number 1 > 0 enter another number
- if new number > 0 enter another number
- if 0 break

##### Answer:

In [ ]:
total = 0
while True:
  number  = float(input("Enter a random number "))
  if number <= 0:
    break
  total += number
print(total)


# ____ = 0

# while ____:
#     num = float(____("Enter a number (or 0 to exit): "))
#     if _________:
#         break
#     else:
#         ____ += ____

# print(____)

Enter a random number 66
Enter a random number 44
Enter a random number 6
Enter a random number -5
116.0

In [ ]:
-----------------
total_sum = 0
while True:
  number = float(input("Please enter a number or enter 0 to exit: "))
  if number == 0:
    break
  else:
    total_sum += number
print(total_sum)

##### Suggested plan:

1. Start with a sum of `0`
2. Ask the user for a number
3. Check if that number equals `0`
4. If not, add the number to the sum
5. Repeat steps 2-4 until the number equals `0`
6. Print the sum

##### Code hint

In [ ]:
# ____ = 0

# while ____:
#     num = float(____("Enter a number (or 0 to exit): "))
#     if _________:
#         break
#     else:
#         ____ += ____

# print(____)

### Exercise 4

Print the square of each number from 1 to a user-defined number `n` (inclusive).

##### Plan:

*You can write you own steps here!*

##### Answer:

In [ ]:
# n = 5
for n in range(6):
  print(n**2)

0
1
4
9
16
25

In [ ]:
n = int(input("Enter a number: "))
for s in range(1,n):
  print(s**2)

##### Suggested plan:

1. Ask the user for a number
2. Define a range from to that number
3. For each number in the range, print it's square value

##### Code hint

In [ ]:
# n = ____("_______")
# for i in range(1, _____):
#     print(i ____ 2)

### Exercise 5

Ask the user to guess a random number between 1 and 50 (inclusive). Give feedback on whether the guess is too high, too low, or correct. Keep asking until the user guesses the correct number.

Extra challenge:  keep a count of how many guesses your user needed.

##### Plan:

*You can write you own steps here!*

##### Answer:

In [ ]:
count = 0
target_number = 20

while True:
    guessed_number = float(input("Guess a random number "))

    if guessed_number > target_number:
      print("You guessed too high")
    elif guessed_number < target_number:
      print("You guessed too low")
    else:
      print("You guessed right")
      break

    count += 1
print(f"You guessed correctly in {count} tries!")

Guess a random number 5
You guessed too low
Guess a random number 33
You guessed too high
Guess a random number 6664
You guessed too high
Guess a random number 20
You guessed right
You guessed correctly in 3 tries!

In [ ]:
count = 0
import random
random_number = random.randint(1, 50)
while True:
  guessed = float(input("Enter a number between 1 and 50: "))
  if guessed > random_number:
    print(f"{guessed} is too high")
  elif random_number == guessed:
    print(f"Correct, the number is {guessed}")
    break
  else:
    print(f"{guessed} too low")
  count += 1
print(f"You guessed correctly in {count} tries!")

Enter a number between 1 and 50: 16
16.0 too low
Enter a number between 1 and 50: 40
40.0 too low
Enter a number between 1 and 50: 45
45.0 is too high
Enter a number between 1 and 50: 43
43.0 too low
Enter a number between 1 and 50: 44
Correct, the number is 44.0
You guessed correctly in 4 tries!

##### Suggested plan:

1. Randomly pick a number between 1 and 50
2. Ask the user to guess a number
3. Check if the guess matches the randomly picked number
4. If the guess is lower, say so
5. If the guess is higher, say so
6. Repeat steps 2-5 until the guess is correct
7. Let the user know they guessed correctly

##### Code hint

In [ ]:
# import ____
# target_number = ____.____(1, 50)

# while ____:
#     guess = ____(input("Guess the number (between 1 and 50): "))

#     ____ guess < target_number:
#         print("________")
#     ____ guess > target_number:
#         print("________")
#     ___:
#         print("Correct!")
#         _____

## Part two: just plans

### Exercise 6

Create a program that generates a multiplication table from 1 to 10, i.e. for each number from 1 to 10, show the multiples of that number by the numbers 1 to 10.

In [ ]:
n_1 = 1

while True:
  n_1 = n_1 + 1
  n_2 = 1
  while n

In [ ]:
weight = float(input("What is your weight? "))
unit = input("(K)g or (L)bs")
if unit.upper() == "K":
  converted = weight / 0.45
  print(converted)
else:
  converted = weight * 0.45
  print(converted)

What is your weight? 55
(K)g or (L)bsl
24.75

##### Plan:

*You can write you own steps here!*


##### Answer:

In [ ]:

n_1 = 1

while n_1 <= 10:
  n_2 = 1
  while n_2 <= 10:
      print(n_1 * n_2, end=" ")
      n_2 += 1
  print()
  n_1+= 1

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

##### Suggested plan:

1. Start with two numbers, both equal to `1`
2. Print the product of those two numbers
3. Increase the value of the _second number_ by 1
4. Repeat steps 2-3 until the _second number_ has the value `10`
5. Increase the value of the _first number_ by 1
6. Repeat steps 4-5 until the _first number_ has the value 10

### Exercise 7

For a list of words, print out each word one character at a time. If you encounter the character `'a'`, stop and move on to the next word.

##### Plan:

*You can write you own steps here!*

##### Answer:

In [ ]:
words = ["heart", "lesson", "love", "python", "hate"]
for word in words:
  for char in word:
    if char == "a":
      break
    else:
      print(char)

h
e
l
e
s
s
o
n
l
o
v
e
p
y
t
h
o
n
h

In [ ]:
words = ["health", "heart", "lung", "brain", "kidney"]
for word in words:
  for char in word:
    if char == "a":
      break
    print(char)

##### Suggested plan:

1. Create a list of words
2. Focus on the first word
3. Check the first letter of that word
4. If the letter is equal to `'a'`, go back to step 2, focusing on the next word
5. If not, print the letter
6. Move on to the next letter and repeat steps 3-5
7. After the word's last letter, move on the next word, starting at step 2

### Exercise 8


Calculate the factorial of `factor_number` below. The factorial of `n` is defined as the product of all integers from 1 to n and is denoted as `n!`.

Change the value of `factor_number` to check if your calculation is working properly.

\begin{align}
5! &= 120 \newline
7! &= 5040 \newline
13! &= 6227020800 \newline
25! &= 15511210043330985984000000
\end{align}

##### Plan:

*You can write you own steps here!*

##### Answer:

In [ ]:
factor_number = 25
factorial = 1
for i in range(1,factor_number + 1):
  factorial *= i
  print(f"Step: {i}: {factorial}")

Step: 1: 1
Step: 2: 2
Step: 3: 6
Step: 4: 24
Step: 5: 120
Step: 6: 720
Step: 7: 5040
Step: 8: 40320
Step: 9: 362880
Step: 10: 3628800
Step: 11: 39916800
Step: 12: 479001600
Step: 13: 6227020800
Step: 14: 87178291200
Step: 15: 1307674368000
Step: 16: 20922789888000
Step: 17: 355687428096000
Step: 18: 6402373705728000
Step: 19: 121645100408832000
Step: 20: 2432902008176640000
Step: 21: 51090942171709440000
Step: 22: 1124000727777607680000
Step: 23: 25852016738884976640000
Step: 24: 620448401733239439360000
Step: 25: 15511210043330985984000000

##### Suggested plan:

1. Create the variable `factor_number` with the value `5`
2. Create a variable `factorial` with the value `1`
3. Create a range of integers from 1 to the value of `factor_number`
4. Multiply `factorial` successively by each value in the range
5. Display the value of `factorial`
6. Change the value of `factor_number` and run the code again

##### **Bonus Challenge:**

Write a function named `factorial` with one argument that represents `factor_number`.  We'll cover functions more in week two of the bootcamp, but if you want to read up on them and try, here's a spot to do it! ðŸ˜€

In [ ]:
factorial = factor_number^5

### Exercise 9

Using `my_dict` below, perform the following opertaions:
- pass over values with a length of 3
- print the first and last elements of values with a length of 6
- if the value is a number, print if it is greater, less than or equal to 100
- print the datatype of any other values

In [ ]:
my_dict = {
    'first': ("don't", "go", "alone"),
    'second': 100.000,
    'third': "cheese",
    'fourth': {'a','e','i','o','u'}
}
for key, value in my_dict.items():
  if char.index == 3:
    continue
  if len(value) == 6:
    print(f"{value}")
  if isinstance(value,float):
    print(f"{value}")
  print(my_dict)

NameError: name 'char' is not defined

##### Plan:

*You can write you own steps here!*

##### Answer:

In [1]:
my_dict = {
    'first': ("don't", "go", "alone"),
    'second': 100.000,
    'third': "cheese",
    'fourth': {'a','e','i','o','u'}}

for value in my_dict.values():
  print(value)
  if isinstance(value, (int, float)):
    print(value)
  if len(value) == 3:
    continue
  if len(value) == 6:
      print(value[1], value[-1])
  print(datatype)

("don't", 'go', 'alone')
100.0
100.0

TypeError: object of type 'float' has no len()

##### Suggested plan:

1. Loop through `my_dict`, focusing on the values; maybe just print them to be sure values are being addressed, not keys or pairs
2. Check if the value is a number (`int` or `float`)
    - If yes, check if it is greater, less than, or equal to 100
    - Print a statement according to this finding
3. If not a number, check the length of the value
    - If 3, use a control statement to move to the next value
    - If 6, print the first and last elements
    - Otherwise, print the datatype of the value

### Exercise 10

Each of the lists below contains some numbers. Ask the user to enter an operational symbol (+, -, \*, /), and perform that operation on each list. If the user does not enter one of the listed operation symbols, ask again until they do.

In [6]:
a = [10, 20]
b = [3, 4]
c = [99, 999]
d = [20, 7]
e = [55, 0]

##### Plan:

*You can write you own steps here!*

##### Answer:

In [25]:
a = [10, 20]
b = [3, 4]
c = [99, 999]
d = [20, 7]
e = [55, 0]

while True:
  operator = input("Please enter opration (+, -, *, /) : ")
  if operator in ("+", "-", "*", "/"):
    break
  else:
    print("Error")

for pair in (a, b, c, d, e):
  if operator == "+":
        print(pair[0] + pair[1])
  elif operator == "-":
        print(pair[0] - pair[1])
  elif operator == "*":
        print(pair[0] * pair[1])
  elif operator == "/":
        if pair[1] != 0:
            print(pair[0] / pair[1])
        else:
            print("Dividing by 0 is not possible")

print("Good job!")

Please enter opration (+, -, *, /) : /
0.5
0.75
0.0990990990990991
2.857142857142857
Dividing by 0 is not possible
Good job!

##### Suggested plan:

1. Ask user for operation
2. Check if operation is one of (+, -, \*, /)
    - If not, repeat steps 1 and 2
3. Resulting value depends on operation
    - If "+" then add list elements
    - If "-" then subtract list elements
    - If "*" then multiply list elements
    - If "/" then divide list elements
        * Unless second element is `0`, then report error
4. Print resulting value of operation
5. Repeat steps 3 and 4 for all lists

## Part three: no clues

### Exercise 11

Ask for a username and password, then check if they are valid (`True`) or not (`False`).

Valid usernames and passwords are contained in `user_dict`. For the user "admin", *all passwords* are valid.

In [26]:
user_dict = {
    "admin": None,
    "user": "qweasd",
    "earth": "GaIa122!"
}

##### Plan:

*You can write you own steps here!*

##### Answer:

In [38]:
username = input("Please enter your UserName: ")
password = input("Please enter your password: ")

if username != "admin" and user_dict.get(username) == password:
  print(f"You are logged in, {username}!")
elif username == "admin":
    print("True")
else:
    print("False")

Please enter your UserName: user
Please enter your password: qweasd
You are logged in, user!

##### **Bonus Challenge:**

Write a function named `is_valid` that takes two arguments for `username` and `password`.

### Exercise 12

Randomly select numbers between 0 and 100 (inclusive). Once the selected number is greater than 95:     
**a**. tell how many numbers were selected before the processed stopped     
**b**. tell the average of those numbers

> **Hint**: You'll need to `import random` and select an [approprite function from that library](https://docs.python.org/3/library/random.html) to randomly select numbers

##### Plan:

*You can write you own steps here!*

##### Answer:

In [46]:
import random
x = random.randint(1,101)
count = 0
total = 0

while x < 95:
  total += x
  count += 1
  print(f"Count: {count}")
  print(f"Average= {total/count}")
  x = random.randint(1, 101)
  print(f"New number: {x}")

Count: 1
Average= 73.0
New number: 1
Count: 2
Average= 37.0
New number: 64
Count: 3
Average= 46.0
New number: 7
Count: 4
Average= 36.25
New number: 38
Count: 5
Average= 36.6
New number: 12
Count: 6
Average= 32.5
New number: 19
Count: 7
Average= 30.571428571428573
New number: 68
Count: 8
Average= 35.25
New number: 43
Count: 9
Average= 36.111111111111114
New number: 96

### Exercise 13

Below are three lists. Each element of `swap_list` contains a target index and a value to swap. Place those values into `original_list` at the positions indicated by the target indexes. Then show `original_list`.

In [73]:
original_list = ["Your", "peach", "is", "in", 3, ("a", "b", "c")]
swap_list = [(-2, "another"), (1, "princess"), (5, "castle")]

##### Plan:

*You can write you own steps here!*

##### Answer:

In [74]:
original_list[0], swap_list[-2] = swap_list[-2], original_list[0]
print(original_list)
original_list[-2], swap_list[0] = swap_list[0], original_list[-2]
print(original_list)
original_list[5], swap_list[-1] = swap_list[-1], original_list[5]
print(original_list)

[(1, 'princess'), 'peach', 'is', 'in', 3, ('a', 'b', 'c')]
[(1, 'princess'), 'peach', 'is', 'in', (-2, 'another'), ('a', 'b', 'c')]
[(1, 'princess'), 'peach', 'is', 'in', (-2, 'another'), (5, 'castle')]

### Exercise 14

Calculate the product of all numbers in the lists given below and then print the sum of all those products.

In [77]:
lst1 = [1, 5, 9, 8, 11]
lst2 = [12, 9, 2, 11, 2]
lst3 = [14, 4, 14]
lst4 = [10, 5, 2, 2, 13, 18]

##### Plan:

*You can write you own steps here!*

##### Answer:

In [84]:
result = 1
for num in lst1:
    result *= num
result_2 = 1
for num in lst2:
    result_2 *= num
result_3 = 1
for num in lst3:
    result_3 *= num
result_4 = 1
for num in lst4:
    result_4 *= num
print(result + result_2 + result_3 + result_4)

56296

In [85]:
products = []
final_sum = 0

for l in (lst1, lst2, lst3, lst4):
    product = 1
    for number in l:
        product *= number
    products.append(product)

for p in products:
    final_sum += p
final_sum

56296

### Exercise 15

Swap the first and last characters of the user-given input_string. Keep in mind that a string must have at least two characters to make this possible.

##### Plan:

*You can write you own steps here!*

##### Answer:

In [107]:
input_string = input("Enter at least two characters: ")

if len(input_string) >= 2:
  input_list = list(input_string)
  print(input_list)
  input_list[-1], input_list[0] = input_list[0], input_list[-1]
  swapped_string = ''.join(input_list)
  print(swapped_string)
else:
    print("Enter at least 2 characters")

Enter at least two characters: ekekof
['e', 'k', 'e', 'k', 'o', 'f']
fkekoe

In [ ]:
input_string = input("Enter a string: ")

if len(input_string) < 2:
    print(input_string)
else:
    first_char = input_string[0]
    last_char = input_string[-1]
    input_string = last_char + input_string[1:-1] + first_char
    print(input_string)

##### **Bonus Challenge**:

Create a function named `swap_characters` that accepts a string as its argument and returns that string with the first and last characters swapped.

In [2]:
swap_characters = str(input("Pls enter an argument: "))
print(swap_characters)
swap_list = list(swap_characters)
swap_list[0], swap_list[-1] = swap_list[-1], swap_list[0]
print(swap_list)

Pls enter an argument: frjrje
frjrje
['e', 'r', 'j', 'r', 'j', 'f']

In [ ]:
def swap_characters(input_string):
  if len(input_string ) <2:
    print(input_string)
  else:
    first_char = input_string[0]
    last_char = input_string[-1]
    input_string= last_char + input_string[1:-1] + first_char
    print(input_string)

swap_characters("abc")